parser: babel-eslint

extends: standard

plugins: [
  "babel"
]

globals:
  describe: false
  it: false
  before: false

rules:
  arrow-parens: 0
  babel/arrow-parens: [2, "as-needed"]

  no-undef: 2
  eqeqeq: 0
  no-var: 0
  operator-linebreak: 0
  prefer-arrow-callback: 0
  space-before-function-paren: [2, {anonymous: always, named: never}]
  no-unneeded-ternary: 0
  semi: [2, always]
  yoda: 0
  arrow-spacing: 2
  dot-location: [2, "property"]
